h1 {
    color: purple ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.cover {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
}

aside {
    font-style: italic;
}

.special {
    color: orange;
}

#headings {
    color: red;
}

h2, h3, h4 {
    color: teal;
}

ul {
    list-style-type: disc;
}

.order {
    list-style-type: square;
}

table, td, tr, th {
    border-style: solid;
    border-color: black;
    padding: 1px;
}

.center {
    text-align: center;
}